<h2>コメント投稿</h2>

<%= form_with model: Comment.new do |f| %>
  <%= f.hidden_field :commentable_id, value: commentable.id %>
  <%= f.hidden_field :commentable_type, value: commentable.class %>
  <%= f.text_area :body, class: "form-control", palceholder: "コメント追加" %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
