<h1><%= t ".title" %></h1>
<p><%= User.human_attribute_name("name") %>：<%= @user.name %></p>
<p><%= User.human_attribute_name("email") %>：<%= @user.email %></p>
<p><%= User.human_attribute_name("postal_code") %>：<%= @user.postal_code %></p>
<p><%= User.human_attribute_name("address") %>：<%= @user.address %></p>
<p><%= User.human_attribute_name("introduction") %>：<%= @user.introduction %></p>
<p><%= image_tag @user.avatar.variant(resize: "100x100") %></p>
<%= render "layouts/links_after_login" %>