<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @report.memo %>
</p>

<p>
  <strong>User_name:</strong>
  <%= @report.user.name %>
</p>

<%= render partial: "comments/comments", locals: {commentable: @report } %>
<%= render partial: "comments/form", locals: {commentable: @report } %>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
